
dev/AccelerationOrientationDemo/.idea/gradle.xml

dev/AccelerationOrientationDemo/.idea/gradle.xml

dev/AccelerationOrientationDemo/.idea/gradle.xml

dev/AccelerationOrientationDemo/.idea/misc.xml

dev/AccelerationOrientationDemo/.idea/runConfigurations.xml

dev/AccelerationOrientationDemo/.idea/gradle.xml

dev/AccelerationOrientationDemo/mobile/mobile.iml

dev/AccelerationOrientationDemo/wear/wear.iml

dev/AccelerationOrientationDemo/AccelerationOrientationDemo.iml
